<!-- modif-demande-stage.component.html -->
<!-- Programmé par : Maxime Lacroix-Lemire -->
<!-- Dernière Mise À  Jour :  2022/04/09 -->

<ng-container *ngIf="demande">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h6>{{titre}}</h6>
                <h3>{{demande.title}}</h3>
            </div>
        </div>
    </div>
    <!-- Bouton d'Action -->
    <div class="pr-5 align-droit">
        <button class="btn btn-secondary mr-3" (click)="goBack()">Annuler</button>
        <button type="submit" class="btn btn-primary"><mat-icon class="mr-1" (click)="onSave(demandeForm)">save</mat-icon> Mettre à jour</button>
    </div>
    <!-- Début du formulaire du haut du formulaire -->
    <form #demandeForm="ngForm" class="pt-5">        
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label for="candidat">Candidat</label><br>
                    <input type="text" name="candidat" size="100" [(ngModel)]="demande.studentName" required>
                </div>
            </div>
        </div>
        <div class="container pt-3">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label for="presentation">Présentation</label><br>
                    <textarea type="text" name="presentation" cols="100" rows="5" [(ngModel)]="demande.studentPresentation" required></textarea>
                </div>
            </div>
        </div>
        <div class="container pt-3">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label for="programme">Programme de formation</label><br>
                    <input type="text" name="programme" pattern="[a-zA-Z][a-zA-Z\s]*" [(ngModel)]="demande.program" required>
                </div>
                <div class="col-12 col-sm-6 form-group">
                    <label for="ecole">Établissement scolaire</label><br>
                    <input type="text" name="ecole" pattern="[a-zA-Z][a-zA-Z\s]*" [(ngModel)]="demande.school" required>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label for="secteurActivite">Secteur d'activité</label><br>
                    <select name="secteurActivite" id="secteurActivite" required>
                        <option selected>{{demande.activitySector}}</option>
                        <option>Secteur 1</option>
                        <option>Secteur 2</option>
                        <option>Secteur 3</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 form-group">
                    <label for="ville">Ville</label><br>
                    <input type="text" name="ville" pattern="[a-zA-Z][a-zA-Z\s]*" [(ngModel)]="demande.city" required>
                </div>
            </div>
        </div>               
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label for="region">Region</label><br>
                    <select name="region" id="region" required>
                        <option selected>{{demande.region}}</option>
                        <option>Region 1</option>
                        <option>Region 2</option>
                        <option>Region 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container pt-3">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label for="competence">Compétence</label><br>
                    <textarea type="text" name="competence" cols="100" rows="5" [(ngModel)]="demande.skills"></textarea>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6>Information sur le stage recherché</h6>
                </div>
            </div>
        </div>
        <div class="container pt-4">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label for="typeStage">Type de stage</label><br>
                    <select name="typeStage" name="typeStage" required>
                        <option>Veuillez effectuer un choix</option>
                        <option selected>{{demande.stageType}}</option>                        
                        <option>Full time</option>
                    </select>                            
                </div>
                <div class="col-12 col-sm-6 form-group">
                    <label for="dateDebut">Date de début</label><br>
                    <input type="date" name="dateDebut" [ngModel]="demande.startDate | date:'yyyy-MM-dd'" required>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label for="heureSemaine">Nombre d'heure par semaine</label><br>
                    <select name="heureSemaine" required>
                        <option>Veuillez effectuer un choix</option>
                        <option selected>{{demande.hoursPerWeek}} heures</option>
                        <option>25 heures</option>
                        <option>35 heures</option>
                    </select>                            
                </div>
                <div class="col-12 col-sm-6 form-group">
                    <label for="dateFin">Date de fin</label><br>
                    <input type="date" name="dateFin" [ngModel]="demande.endDate | date:'yyyy-MM-dd'" required>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <h6 class="pb-2">Rémunération</h6>
                    <input class="mr-3" type="checkbox" name="paid" placeholder="" required>
                    <label for="paid">À la discrétion de l'entreprise</label><br>
                    <input class="mr-3" type="checkbox" name="paid" placeholder="" required>
                    <label for="paid">Stage rémunéré</label><br>
                    <input class="mr-3" type="checkbox" name="paid" placeholder="" required>
                    <label for="paid">Stage non rémunéré</label><br>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label for="infoSupp">Information supplémentaires</label><br>
                    <textarea type="text" name="infoSupp" cols="100" rows="5" [(ngModel)]="demande.additionalInfo"></textarea>
                </div>
            </div>
        </div>
        <div class="container float-right pb-5">
            <div class="row">                
                <div class="col-12 form-group">
                    <input type="text" id="upFichier" disabled="disabled">
                    <input type="file" name="cv" id="cv" required>
                    <button class="btn btn-primary"><mat-icon class="mr-2">cloud_download</mat-icon>Télécharger le C.V.</button>
                </div>
            </div>
        </div>
        <!-- Bouton d'action du bas du formulaire -->
        <div class="pt-4 pb-5 pr-5 float-right">
            <button class="btn btn-secondary mr-3" (click)="goBack()">Annuler</button>
            <button (click)="onSave(demandeForm)" type="submit" class="btn btn-primary"><mat-icon class="mr-1">save</mat-icon> Mettre à jour</button>
        </div>
    </form>
</ng-container>