/*J'ai utilisé le flexbox pour aligner les elements de ma carte */

.mat-card 
  display: inline-flex
  padding: center
  width: 350px
  margin-bottom: 3rem
  justify-content: space-between
  margin: 45px




.mat-card-title
    display: flex
    justify-content: start

.mat-card-subtitle
    display: flex
    justify-content: center


    

    




