<ng-container *ngIf="demande">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h6>{{titre}}</h6>
                <h3>{{demande.title}}</h3>
            </div>
        </div>
    </div>
    <div class="pr-5 float-right">
        <button type="reset" class="btn btn-secondary mr-3">Annuler</button>
        <button type="submit" class="btn btn-primary"><mat-icon class="mr-1">save</mat-icon> Sauvegarder </button>
    </div>        
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="candidat">Nom et prénom</label><br>
                <input type="text" name="candidat" size="100" disabled>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="presentation">Présentation</label><br>
                <textarea type="text" name="presentation" cols="100" rows="5" disabled></textarea>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="programme">Programme de formation</label><br>
                <input type="text" id="programme" placeholder="" pattern="[a-zA-Z][a-zA-Z\s]*" disabled>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label for="ecole">Établissement scolaire</label><br>
                <input type="text" id="ecole" placeholder="" pattern="[a-zA-Z][a-zA-Z\s]*" disabled>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="secteurActivite">Secteur d'activité</label><br>
                <input type="text" id="ville" placeholder="" pattern="[a-zA-Z][a-zA-Z\s]*" disabled>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label for="ville">Ville</label><br>
                <input type="text" id="ville" placeholder="" pattern="[a-zA-Z][a-zA-Z\s]*" disabled>
            </div>
        </div>
    </div>               
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="region">Region</label><br>
                <input type="text" id="ville" placeholder="" pattern="[a-zA-Z][a-zA-Z\s]*" disabled>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="competence">Compétence</label><br>
                <textarea type="text" name="competence" cols="100" rows="5" disabled></textarea>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6>Information sur le stage recherché</h6>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="typeStage">Type de stage</label><br>
                <input type="text" id="ville" placeholder="" pattern="[a-zA-Z][a-zA-Z\s]*" disabled>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label for="dateDebut">Date de début</label><br>
                <input type="text" id="dateDebut" placeholder="" disabled>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="langage">Nombre d'heure par semaine</label><br>
                <input type="text" id="ville" placeholder="" pattern="[a-zA-Z][a-zA-Z\s]*" disabled>                            
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label for="dateFin">Date de fin</label><br>
                <input type="text" id="dateFin" placeholder="" disabled>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <h6 class="pb-2">Rémunération</h6>
                <input class="mr-3" type="text" id="choixEntreprise" placeholder="" disabled>
                <label for="choixEntreprise">À la discrétion de l'entreprise</label><br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="infoSupp">Information supplémentaires</label><br>
                <textarea type="text" name="infoSupp" cols="100" rows="5" disabled></textarea>
            </div>
        </div>
    </div>
    <div class="container pt-3 pb-5">
        <div class="row">                
            <div class="col-12 form-group">                    
                <button class="btn btn-primary" type="button" name="cv" id="cv"><mat-icon class="mr-2">cloud_download</mat-icon>Télécharger le C.V.</button>
            </div>
        </div>
    </div>
</ng-container>