<ng-container *ngIf="demande">
    <div class="container pt-5 demande-view">
        <div class="row">
            <div class="col-12">
                <h6>{{titre}}</h6>
                <h4>{{demande.title}}</h4>
            </div>
        </div>
    </div>
    <div class="pr-5 float-right">
        <button class="btn btn__check"><mat-icon (click)="goBack()">check</mat-icon></button>
        <button class="btn btn__edit"><mat-icon routerLink="/modifDemande/{{demande._id}}">edit</mat-icon> </button>
        <button class="btn btn__supp"><mat-icon (click)="suppDemande(demande)">cancel</mat-icon></button>
    </div>        
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-sm-6 form-group demande-border">
                <h3>{{demande.studentName}}</h3>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 form-group">                
                <p>{{demande.studentPresentation}}</p>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="programme">Programme de formation</label><br>
                <p name="programme">{{demande.program}}</p>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label for="ecole">Établissement scolaire</label><br>
                <p name="ecole">{{demande.school}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="secteurActivite">Secteur d'activité</label><br>
                <p name="secteurActivite">{{demande.activitySector}}</p>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label for="ville">Ville</label><br>
                <p name="ville">{{demande.city}}</p>
            </div>
        </div>
    </div>               
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="competence">Compétence</label><br>
                <p name="competence">{{demande.skills}}</p>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label for="region">Region</label><br>
                <p name="region">{{demande.region}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>Information sur le stage recherché</h5>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="typeStage">Type de stage</label><br>
                <p name="typeStage">{{demande.stageType}}</p>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label for="dateDebut">Date de début</label><br>
                <p name="dateDebut">{{demande.startDate | date : 'yyyy-MM-dd'}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="nbrHeure">Nombre d'heure par semaine</label><br>
                <p name="nbrHeure">{{demande.hoursPerWeek}} heures par semaine</p>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label for="dateFin">Date de fin</label><br>
                <p name="datefin">{{demande.endDate| date : 'yyyy-MM-dd'}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label for="remuneration">Rémunération</label><br>
                <p name="remuneration">{{demande.paid}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 form-group">
                <h5 for="infoSupp">Information supplémentaires</h5><br>
                <p name="infoSupp">{{demande.additionalInfo}}</p>
            </div>
        </div>
    </div>
    <div class="container pt-3 pb-5">
        <div class="row">                
            <div class="col-12 form-group">                    
                <button class="btn btn-primary" type="button" name="cv" id="cv"><mat-icon class="mr-2">cloud_download</mat-icon>Télécharger le C.V.</button>
            </div>
        </div>
    </div>
</ng-container>