<main>
<div class="container bg-c-gris-pale">
<h1>Ajouter une entreprise</h1>

<button type="button" class="btn ">Annuler</button>
<button type="button" class="btn bg-c-bleu">Sauvegarder</button>

    <form class="needs-validation" novalidate="">
    <div class="row g-5">


      <div class="col-12">
        <label for="entreprise" class="form-label">Entreprise</label>
        <div class="input-group has-validation">
          <input [(ngModel)]="entreprise.name" type="text" class="form-control" id="entreprise" name="entreprise" required="">
        <div class="invalid-feedback">
           Le nom d'entreprise est requis
          </div>
        </div>
      </div>

      <div class="col-12">
        <label for="logo" class="form-label">Logo</label>
        <div class="input-group has-validation">
          <input [(ngModel)]="entreprise.imageUrl" type="text" class="form-control" id="username" name="logo" >
        </div>
      </div>
      <h1 class="f-c-bleu">Courte Présentation</h1>
      <div class="mb-3">
        <textarea [(ngModel)]="entreprise.description" class="form-control" id="exampleFormControlTextarea1" rows="3" name="courtePresentation"></textarea>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <label for="codePostal" class="form-label">Personne contact</label>
          <input [(ngModel)]="entreprise.contactName" type="text" class="form-control" id="codePostal" placeholder="info@mediavox.com" value="" required="" name="personneContact">
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>


      <h3 class="f-c-bleu">information de contact</h3>

      <div class="col-md-7 col-lg-8">

          <div class="row g-3">
            <div class="col-sm-6">
              <label for="adresse" class="form-label">Adresse</label>
              <input [(ngModel)]="entreprise.address" type="text" class="form-control" id="adresse" placeholder="985, rue Royale" value="" required="" name="adresse">
              <div class="invalid-feedback">
                Une adresse est requise.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="telephone" class="form-label">Téléphone</label>
              <input [(ngModel)]="entreprise.contactPhone" type="text" class="form-control" id="telephone" placeholder="819 373-2235" value="" required="" name="telephone">
              <div class="invalid-feedback">
                Un  numéro de telephone est requis.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="ville" class="form-label">Ville</label>
              <input [(ngModel)]="entreprise.city" type="text" class="form-control" id="ville" placeholder="Trois-Rivières" value="" required="" name="ville">
              <div class="invalid-feedback">
                Un nom de ville est requis.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="courriel" class="form-label">Courriel</label>
              <input [(ngModel)]="entreprise.contactEmail" type="email" class="form-control" id="Courriel" placeholder="info@mediavox.com" value="" required="" name="courriel">
              <div class="invalid-feedback">
                Un courriel valide est requis.
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label for="province" class="form-label">Province</label>
                <input [(ngModel)]="entreprise.province" type="text" class="form-control" id="province" placeholder="Québec" value="" required="" name="province">
                <div class="invalid-feedback">
                  Un nom de province valide est requis.
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-6">
                <label for="codePostal" class="form-label">Code postal</label>
                <input [(ngModel)]="entreprise.postalCode" type="text" class="form-control" id="codePostal" placeholder="info@mediavox.com" value="" required="" name="codePostal">
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>



          </div>


          <hr class="my-4">

          <button (click)='gererSoumission()' class="w-100 btn btn-primary btn-lg" type="submit">Sauvegarder</button>

      </div>
      </div>
    </form>
    </div>
  </main>



