/* Importation du style global */

/** Importation de Bootstrap **/
@import '../../../node_modules/bootstrap/dist/css/bootstrap'


/** Déclaration des variables de couleurs **/

$c-gris : #454545




/*** Style de la balise hr ***/

.mat-header-cell
    color: $c-gris

/*** Couleur de bouton ***/

$couleurs: ("orange": orange, "gris": $c-gris, "blanc": white, "noir": black, "rouge": red)

@each $couleur, $i in $couleurs
    .couleurBtn__
        &#{$couleur}
            background-color: $i
            color: white
    .h1__
        &#{$couleur}
            color: $i
            font-weight: bold
    .bg__
        &#{$couleur}
            background-color: $i
    .couleur__
        &#{$couleur}
            color: $i