/* Importation du style global */

@import '../../../css/styles'

/** Déclaration des variables de couleurs **/

$c-gris : #454545

.mat-header-cell
    color: $c-gris

/*** Couleur de bouton ***/

$couleurs: ("orange": orange, "gris": $c-gris, "blanc": white, "noir": black, "rouge": red)

@each $couleur, $i in $couleurs
    .couleurBtn__
        &#{$couleur}
            background-color: $i
            color: white
    .h1__
        &#{$couleur}
            color: $i
            font-weight: bold
    .bg__
        &#{$couleur}
            background-color: $i
    .couleur__
        &#{$couleur}
            color: $i

/* Styliser le tableau */ 

@mixin mat-table-columns($columns)
    .mat-column-    
        @each $matColumnDef, $props in $columns 
            $width: map-get($props, 'width')
            &#{$matColumnDef}             
                flex: $width
                min-width: $width
                @if map-has-key($props, 'color')                 
                    color: map-get($props, 'color')