<!--Programmée par Rachida Zaoug -->
<!-- Date de dernière modification: 2022-03-28 -->

    <span>
        <img src="../../assets/logo.png" width="100">

    </span>

    <ul>
        <li><button id="btn__button1" routerLink="ajout-offre">+ Ajouter une offre de stage</button></li>
        <li><button id="btn__button2" routerLink="ajoutDemande">+ Ajouter une demande de stage</button></li>
        <li><button id="btn__button3"routerLink="ajout-entreprise">+ Ajouter une entreprise</button></li>
        <li><button id="btn__button4" (click)="addCandidat()"> + Ajouter un candidat</button></li>
    </ul>







