<!-- <p>navbar works!</p> -->
<!--Programmée par Rachida Zaoug -->
<!-- Date de dernière modification: 2022-03-28 -->


    <span>Logo</span>
    <ul>
        <li><button id="btn__button1"><span>+ Ajouter une offre de stage</span></button></li>
        <li><button id="btn__button2"><span>+ Ajouter une demande de stage</span></button></li>
        <li><button id="btn__button3" (click)="addCandidat()"><span>+ Ajouter un candidat</span></button></li>
        <li><button id="btn__button4"><span>+ Ajouter une entreprise</span></button></li>

    </ul>
    
