<!-- <p>navbar works!</p> -->
<!--Programmée par Rachida Zaoug -->
<!-- Date de dernière modification: 2022-03-28 -->

    <span>
        <img src="../../assets/logo.png" width="100">

    </span>

        
    
        <button id="btn__button1">+ Ajouter une offre de stage</button>
        <button id="btn__button2">+ Ajouter une demande de stage</button>
        <button id="btn__button3" (click)="addCandidat()">+ Ajouter un candidat</button>
        <button id="btn__button4">+ Ajouter une entreprise</button>
    
    
    
