@charset "UTF-8";
/* Importation du style global */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,600;0,800;1,400&display=swap");
/* Style global du projet */
/* Couleurs des icônes d'action */
/*** Import de la font Open Sans ***/
/** Déclaration des variables de polices **/
body {
  color: #707070;
}

h1 {
  font: 600 44px/60px "Open Sans" !important;
}

@media (max-width: 767px) {
  h1 {
    font: 600 24px/28px "Open Sans" !important;
  }
}
h2 {
  font: 600 24px/30px "Open Sans";
}

@media (max-width: 767px) {
  h2 {
    font: 600 20px/24px "Open Sans";
  }
}
h3 {
  font: 600 24px/30px "Open Sans" !important;
}

@media (max-width: 767px) {
  h3 {
    font: 600 20px/24px "Open Sans" !important;
  }
}
p {
  font: 300 16px/24px "Open Sans" !important;
}

@media (max-width: 767px) {
  p {
    font: 400 16px/20px "Open Sans" !important;
  }
}
.small-text {
  font: 400 14px/16px "Open Sans" !important;
}

/** Déclaration des variables de couleurs **/
.mat-header-cell {
  color: #454545;
}

/*** Couleur de bouton ***/
.couleurBtn__orange {
  background-color: orange;
  color: white;
}

.h1__orange {
  color: orange;
  font-weight: bold;
}

.bg__orange {
  background-color: orange;
}

.couleur__orange {
  color: orange;
}

.couleurBtn__gris {
  background-color: #454545;
  color: white;
}

.h1__gris {
  color: #454545;
  font-weight: bold;
}

.bg__gris {
  background-color: #454545;
}

.couleur__gris {
  color: #454545;
}

.couleurBtn__blanc {
  background-color: white;
  color: white;
}

.h1__blanc {
  color: white;
  font-weight: bold;
}

.bg__blanc {
  background-color: white;
}

.couleur__blanc {
  color: white;
}

.couleurBtn__noir {
  background-color: black;
  color: white;
}

.h1__noir {
  color: black;
  font-weight: bold;
}

.bg__noir {
  background-color: black;
}

.couleur__noir {
  color: black;
}

.couleurBtn__rouge {
  background-color: red;
  color: white;
}

.h1__rouge {
  color: red;
  font-weight: bold;
}

.bg__rouge {
  background-color: red;
}

.couleur__rouge {
  color: red;
}

/* Styliser le tableau */ 