@import '../../styles.sass'

.liste-offre-stage 
    padding: 83px 164px
    background: $c-bg-page

    h1 
        color: $c-med-gris

    .btnAction 
        display: inline-block
        padding: 15px
        background: $c-rouge
        color: $c-blanc
        border-radius: 8px
        text-decoration: none
        transition: 0.3s
        margin: 70px 0 16px 0
        &:hover
            background: $c-med-rouge
    &__items
        padding: 135px 80px
        background: $c-blanc
        border-radius: 5px

        .items-table
            box-shadow: none
            width: 100%
    th 
        border: none
         
    .head-title
        font-size: 14px
        padding-bottom: 5px
        margin-left: -24px
        width: 80%
        display: inline-block
        border-bottom: 5px solid $c-med-gris
        
    .mat-cell 
        width: 10%
        // margin-right: 10px
        &:nth-child(1)
            width: 30%
        &:nth-child(2)
            width: 30%
            
    .title_offer_wrapper
        display: flex
        align-items: center

        .icon-box 
            width: 50px
            height: 50px
            background: $c-rouge
            border-radius: 12px
            display: flex
            align-items: center
            justify-content: center
            position: relative
            &::before
                content: ""
                width: 5px
                height: 100%
                background: $c-rouge
                position: absolute
                top: 0
                left: -24px
            .offer-icon
                color: $c-rouge-pale
        .title-offer-content
            padding: 30px 12px
            .small-text
                font: 700 16px/19px $f-primaire
                margin-bottom: 5px
    .actions__wrapper
        display: flex
        justify-content: space-between
        .actions__link
            color: $c-turquoise
            &:hover
                color: (darken($c-turquoise, 15%))
            &--maj
                color: $c-iconMAJ-primaire
                &:hover
                    color: (darken($c-iconMAJ-primaire, 15%))
            &--delete
                color: $c-iconSupp
                &:hover
                    color: (darken($c-iconSupp, 15%))
                
