<div class="liste-offre-stage">
  <h1>{{ title }}</h1>
  <a class="btnAction" href="#">{{ btnAction }}</a>
  <div class="liste-offre-stage__items">
    <table
      mat-table
      class="mat-elevation-z8 items-table"
      [dataSource]="offrestage"
    >
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Poste</th>
        <td mat-cell *matCellDef="let offrestage">{{ offrestage.title }}</td>
      </ng-container>

      <ng-container matColumnDef="activitySector">
        <th mat-header-cell *matHeaderCellDef>Secteur d'activité</th>
        <td mat-cell *matCellDef="let offrestage">
          {{ offrestage.stageType }}
        </td>
      </ng-container>

      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef>Région</th>
        <td mat-cell *matCellDef="let offrestage">Montréal</td>
      </ng-container>

      <ng-container matColumnDef="published">
        <th mat-header-cell *matHeaderCellDef>Date de publication</th>
        <td mat-cell *matCellDef="let offrestage">2022-03-22</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let offre of offrestage">
          <a routerLink="/offre/{{ offre._id }}"
            ><mat-icon>remove_red_eye</mat-icon></a
          >
          <mat-icon>update</mat-icon>
          <mat-icon>delete</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let offrestage; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
