//  margin permet de mettre un espace entre la barre lateral et horizontale
mat-sidenav 
    width: 200px
    background: white
    color: black


mat-toolbar
    background-color: white

.content 
    // Ces 3 styles affectent directement la disposition du contenu du centre de la page avec la barre literal
    // border-radius: 10px
    // margin: 16px
    // height: auto
    // margin-left: 32px

    display: inline-flex
    padding: 10px

