<!-- <p>sidebar works!</p> -->
<!--Programmée par Rachida Zaoug -->
<!-- Date de dernière modification: 2022-03-28 -->

<a mat-button class="btn__button1" routerLink="A corriger">
    <mat-icon>schedule</mat-icon>
    <span>Tableau de bord</span>
</a>
<br>
<a mat-button class="btn__button2" routerLink="A corriger">
    <mat-icon>note</mat-icon>
    <span>Offres de stage</span>
</a>
<br>
<a mat-button class="btn__button3" routerLink="A corriger">
    <mat-icon> near_me</mat-icon>
    <span>Demandes de stage</span>
</a>
<br>
<a mat-button class="btn__button4" routerLink="Candidats">
    <mat-icon>person_add</mat-icon>
    <span>Candidats</span>
</a>
<br>
<a mat-button class="btn__button5" routerLink="A corriger">
    <mat-icon> table_chart</mat-icon>
    <span>Entreprises</span>
</a>


