<!-- <p>sidebar works!</p> -->
<!--Programmée par Rachida Zaoug -->
<!-- Date de dernière modification: 2022-03-28 -->

<!-- ce bouton doit retourner la 1er page d'offre de stage -->
<a mat-button class="btn__button1" routerLink="">
    <mat-icon>schedule</mat-icon>
    <span>Tableau de bord</span>
</a>
<br />
<a mat-button class="btn__button2" routerLink="tableDemande">
  <mat-icon> near_me</mat-icon>
  <span>Demandes de stage</span>
</a>
<a mat-button class="btn__button3" routerLink="/offres">
  <mat-icon>note</mat-icon>
  <span>Offres de stage</span>
</a>
<br>
<a mat-button class="btn__button4" routerLink="candidats">
    <mat-icon>person_add</mat-icon>
    <span>Candidats</span>
</a>
<br>
<a mat-button class="btn__button5" routerLink="entreprises">
    <mat-icon> table_chart</mat-icon>
    <span>Entreprises</span>
</a>

<!-- Il va falloir renseigner le nom des composants principaux pour le renvoi des pages du site -->
<!--  ici nous allons également mettre à jour la page de app.routing.module -->
