
/* Style global du projet */

/*** Déclaration des variables de couleurs ***/

$c-turquoise : #089DA4
$c-jaune : #cd9635
$c-med-jaune : #986D22
$c-rouge : #BB2026
$c-med-rouge : #A00707
$c-fonce-rouge : #821519
$c-mauve : #7F2987
$c-bleu : #86A9E6
$c-rose-pale : #FCD8FF

$c-noir : #000000
$c-blanc : #fff
$c-gris-fonce : #5E5E5E
$c-med-gris : #707070
$c-gris-pale : #EEEEEE

$c-inactif : #CBCBCB
$c-rouge-inactif : #FF0000

/* Couleurs des icônes d'action */

$c-iconMAJ-primaire : #F89747
$c-iconMAJ-secondaire : #2E466E
$c-iconSupp : #F26689
$c-iconVue : #22A6AC
$c-iconCheck : #07A04A

/*** Import de la font Open Sans ***/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap')

/** Déclaration des variables de polices **/
$f-primaire : 'Open Sans'

h1 
    font: 700 46px/62px $f-primaire
    @media(max-width: 767px)
        font: 700 24px/28px $f-primaire 
        
    

h2 
    font: 700 24px/30px $f-primaire
    @media(max-width:767px)
        font: 700 20px/24px $f-primaire
        
    

h3 
    font: 700 24px/30px $f-primaire
    @media(max-width:767px)
        font: 700 20px/24px $f-primaire
        
    

p 
    font: 400 20px/26px $f-primaire
    @media(max-width:767px)
        font: 400 16px/20px $f-primaire
        
    

.small-text 
    font: 400 14px/16px $f-primaire 
    
