form
    margin-left: 5rem
    



label, p, h2
    border: none
    border-left: solid
    
.jobTitle
    background-color: white


.container-fluid
    background-color: white


p
    font-size: 10px