<!-- <p>fiche-candidat works!</p> -->
<!--Programmée par Rachida Zaoug -->
<!-- Date de dernière modification: 2022-03-28 -->

<h2>Fiche complète du candidat</h2>


<button mat-raised-button class="btn btn-info" style="float: right; "  (click)="editCandidat(candidat._id)"><mat-icon>update</mat-icon></button>
<button mat-raised-button class="btn btn-info" style="float: right; "  (click)="deleteCandidat(candidat._id)"><mat-icon>delete</mat-icon></button>

<!-- action modal -->

<!-- test modal 1 -->

<!-- <button mat-raised-button class="btn btn-info" (click)="openConfirmationDialog()"><b>Delete me</b></button> -->
<!-- test modal 2 -->
<button mat-raised-button class="btn btn-info" (click)="openDialog()"><b>Delete moi</b></button>





<br>
<br>


<form *ngIf="candidat">

          <h5>Candidat</h5>
          <label><h2>{{candidat.name}}</h2></label>
         
           

          <label class="jobTitle">{{candidat.jobTitle}}</label>

          <br>
          <br>

          <div class="container-fluid">
          <h2>Courte présentation</h2>
          <label><p>{{candidat.description}}</p></label> 
          

          <br>
          <h4>Informations personnelles</h4>

            <div class="row">


          <b>Adresse: </b>
          <div class="col-md-4">
          <label>{{candidat.address}}</label>
          </div>
        
          <b>Ville: </b>
          <div class="col-md-4">
          <label>{{candidat.city}}</label>
          </div>

          <b>Province: </b>
          <div class="col-md-4">
          <label>{{candidat.province}}</label>
          </div>



          <b>Code postal </b>
          <div class="col-md-4">
          <label>{{candidat.postalCode}}</label>
          </div>


          <b>Téléphone: </b>
          <div class="col-md-4">
          <label>{{candidat.phone}}</label>
          </div>



          <b>Email: </b>
          <div class="col-md-4">
          <label>{{candidat.email}}</label>
        </div>
            </div>
        </div>
      </form>

      <br>
        <button (click)=" listesCandidat()" class="btn btn-primary">Revenir à la liste des candidats</button><br>


    


    
    
  
  





