<div class="container-fluid "><h1>eStage</h1></div>
<div class="container">
  <div class="row">
    <div class="col-12  col-lg-6 p-0"><img class="mw-100 ml-1" src="../assets/img/e-stage-accueil.jpg" alt="image"></div>
    <div class=" col-12 col-lg-5 mx-lg-5 c-noir "><h1 class="mt-5">Identification</h1>
    <div class="row">
      <div class=" col-lg-8">
        <p class="mt-3 pb-lg-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, tempore. Quam ea iusto voluptatem, voluptates laborum ut quo opti</p>
        <form class="mt-lg-5" action="">
          <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Votre nom et prénom">
          </div>
          <div class="mb-3">

            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Votre courriel">
          </div>
          <button type="button" class="btn btn-info mt-2">Accéder maintenant</button>
        </form>
      </div>
    </div>

  </div>

  </div>
</div>

